@model EvaShop.Models.Inventario

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h4>Inventario</h4>
            <hr/>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Articulo)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Articulo.Nombre)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Existencias)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Existencias)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Costo)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Costo)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.PrecioDeVenta)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.PrecioDeVenta)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.CantidadMinima)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CantidadMinima)
                </dd>
            </dl>
            <div class="text-center">
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Editar</a>
                <a class="btn btn-primary" asp-action="Index">Regresar</a>
            </div>
        </div>

    </div>
</div>
