@model IEnumerable<EvaShop.Models.Inventario>
@section Header{
    <link href="~/lib/datatables/css/dataTables.bootstrap.css" rel="stylesheet"/>
}
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>
<div class="container container-fluid" style="margin-top: 75px">
    <p class="text-right">
        <a class="btn btn-primary" asp-action="Create">Agregar</a>
    </p>
    <table id="inventario" class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Articulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Existencias)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Costo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioDeVenta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantidadMinima)
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Articulo.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Existencias)
                </td>
                <td>
                    $@Html.DisplayFor(modelItem => item.Costo)
                </td>
                <td>
                    $@Html.DisplayFor(modelItem => item.PrecioDeVenta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CantidadMinima)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-edit"></i><span></span></a>
                    <a asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-list"></i><span></span></a>
                    <a asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-trash"></i><span></span></a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

@section Scripts {
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#inventario').DataTable({
                'columnDefs': [
                    {
                        'targets': [4],
                        'orderable': false
                    }
                ]
            });

            const input = document.getElementsByName("inventario_length");
            input[0].style.color = "black";
        });




    </script>
}