@model EvaShop.Models.Articulo

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Articulo</h4>
    <hr />
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
                <div class="text-center" style="margin-bottom: 45px">
                    <img class="img-thumbnail" style="width: 225px;height: 275px" src="@Model.Imagenes" alt="articulo"/>
                </div>
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Nombre)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Nombre)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Descripcion)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Descripcion)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ForMan)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ForMan)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.SubCategoria)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.SubCategoria.Nombre)
                </dd>
            </dl>
            <div class="text-center">
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Editar</a>
                <a class="btn btn-primary" asp-action="Index">Regresar</a>
            </div>

        </div>
    </div>
</div>